{% extends "initialBlog/base.html" %}

{% block content %}
	
	<div class="block1">
		 Welcome to this platform 
	</div>

	<div class="block2 m-auto">
		<p>"The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that is the goal of true education."</p>
		<p>
			- Martin Luther King, Jr.
		</p>
	</div>
	
	<div class="block3">
		<div class="row mt-5">
			<div class="col-md-4 m-auto">
				<div class="card card-body text-center">
					<h1><i class="fab fa-angrycreative" aria-hidden="true"></i></h1>   
			
					<p>Create an account or login</p>
					<a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
					<a href="/users/login" class="btn btn-secondary btn-block">Login</a>
			
				</div>
			</div>
		</div>
	</div>


	

{% endblock content %}